* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  background: hsl(204, 43%, 93%);
  color: hsl(218, 22%, 67%);
}

#join-community {
  margin-top: 100px;
}
.clr {
  clear: both;
}
.shadow {
  width: 700px;
  margin: 0 auto;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.44);
  border-radius: 15px;
}
.container {
  min-height: 100%;
}

.lead {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
  margin-bottom: 10px;
}
.cta {
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: hsl(204, 43%, 93%);
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
  background: hsl(71, 73%, 54%);
}
#join-community .container {
  background: #fff;
  padding: 40px;
  line-height: 1.5em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#join-community .container h2 {
  color: hsl(179, 62%, 43%);
  margin-bottom: 15px;
}
#info-left {
  background: hsl(179, 62%, 43%);
  padding: 40px;
  width: 50%;
  float: left;
  color: #fff;
  line-height: 1.7em;
  min-height: 100%;
  border-bottom-left-radius: 15px;
}
#info-left h3 {
  color: hsl(204, 43%, 93%);
  margin-bottom: 20px;
}
#info-left span {
  font-size: 30px;
  font-weight: 700;
  color: hsl(204, 43%, 93%);
  padding: 8px;
}
#info-right {
  width: 50%;
  float: right;
  background: hsla(179, 62%, 43%, 0.623);
  min-height: 100%;
  padding: 40px;
  line-height: 1.6em;
  border-bottom-right-radius: 15px;
}
#info-right h3 {
  color: hsl(204, 43%, 93%);
  margin-bottom: 20px;
}
#info-right p {
  color: #fff;
}
